footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background-color: #04203f;
    color: #fff;   
    margin-top: 80px;
}

ul{
    display: flex;
    padding: 20px;
    gap: 50px;
}


li{
    list-style: none;
    transition: all 0.2s;
    font-weight: bolder;
}

li:hover{
    transform: scale(1.15);
}

a, a:visited{
    text-decoration: none;
    color: #fff;
}

#insta{
    color: #fe1a85;
}

#twit{
    color: #1d9aef;
}

#tik{
    color: #b03;
}