<footer>
    <h2>Gracias por visitarnos</h2>
    <ul>
        <li><a href="" id="insta">Instagram <i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="" id="twit">Twitter <i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="" id="tik">Tik Tok <i class="fa-brands fa-tiktok"></i></a></li>
    </ul>
    <p>Todos los derechos reservados. Este es un proyecto escolar entonces no te quitaremos tu dinero, ni siquiera sabemos como implementar un sistema de pagos real.</p>
</footer>