<p>{{menuopc}}</p>


<div class="card-columns">
    <div class="card">
      <img src="../../assets/img/chihiro.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El viaje de Chihiro</h5>
        <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/img/forrestGump.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Forrest Gump</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/img/luciernagas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">La tumba de las luciérnagas</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/img/padrino.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El Padrino</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
      <div class="card">
        <img src="../../assets/img/spiderman.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spider-Man: Un Nuevo Universo</h5>
        <h4><span class="badge badge-secondary">Proximamente</span></h4>
        </div>
      </div>
    <div class="card">
        <img src="../../assets/img/TiemposViolentos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tiempos Violentos</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
  <div class="card">
    <img src="../../assets/img/whiplash.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Whiplash: Música y obsesión</h5>
      <h4><span class="badge badge-secondary">Proximamente</span></h4>
      </div>
    </div>
    <div class="card">
        <img src="../../assets/img/yourName.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Your Name</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
          </div>
        </div>
    <div class="card">
        <img src="../../assets/img/evangelion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Neon Genesis Evangelion: El Final de Evangelion</h5>
          <h4><span class="badge badge-secondary">Proximamente</span></h4>
    </div>
  </div>
  </div>
