<div class="content">

    <img class="main-img" src="../../assets/img/flick 2.png" alt="">
    <!-- Navbar -->

    <!-- Carrousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/img/mario.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Mario Bros: La Película</h4>
                    <p>Últimas funciones. ¡NO TE LA PIERDAS!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/img/flash.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>The Flash (Próximamente)</h4>
                    <p>DC cada que quiere reiniciar su universo: "Corre Barry, ¡Corre!"</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/img/barbie.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Barbie (Próximamente)</h4>
                    <p>Te lo ruego Mattel, que salga Max Steel en la película</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Grid Section -->
    <h2 class="movie-section-title">¡Compra o Reserva!</h2>
    <section class="movie-section">

        <ng-container *ngFor="let poster of posters; let i = index">
            <div class="movie-item">
                <div class="poster-container">
                    <img [src]="poster.img" alt="">
                </div>
                <h4>{{poster.titulo}}</h4>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".payModal"
                    [attr.data-bs-target]="'#mov-'+i">{{poster.pagar}}</button>
                <!-- Modal de Pago -->
                <div class="modal fade" [attr.id]="'mov-'+i" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Completar Pago</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="info-movie">
                                    <h4>{{poster.titulo}}</h4>
                                    <img [src]="poster.img" alt="">
                                </div>
                                <div class="pay-section">
                                    <h5>Seleccione la Fecha</h5>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="link">
            <a href="">Ver Todo</a>
        </div>
    </section>
    <!-- Main Article -->
    <main class="main-art">
        <h2>¿Qué es Flick?</h2>
        <p>Flick es tu página de confianza para comprar o reservar tus boletos de las películas más populares del
            momento. Contamos con el apoyo de 15 cines alrededor de todo México. En Flick puedes encontrar descuentos y
            otras sorpresas para que tu experiencia sea más satisfactoria y sencilla.</p>

    </main>

    <section class="sponsors">
        <h1>Nuestros principales socios</h1>
        <div class="sponsor-img">
            <img src="../../assets/img/cinepolis.jpg" alt="">
            <img src="../../assets/img/cinemex.jpg" alt="">
            <img src="../../assets/img/cinemagic.jpg" alt="">
            <img src="../../assets/img/kristal.png" alt="">
        </div>
    </section>
</div>